[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/rails.vim"]
	path = bundle/rails.vim
	url = git://github.com/vim-scripts/rails.vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
    ignore = dirty
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
    ignore = dirty
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/SQLUtilities"]
	path = bundle/SQLUtilities
	url = git://github.com/vim-scripts/SQLUtilities.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/svn-diff.vim"]
	path = bundle/svn-diff.vim
	url = git://github.com/vim-scripts/svn-diff.vim.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/EnhancedCommentify"]
	path = bundle/EnhancedCommentify
	url = git://github.com/hrp/EnhancedCommentify.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/bufexplorer.git"]
	path = bundle/bufexplorer.git
	url = git://github.com/corntrace/bufexplorer.git
	ignore = untracked
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist.vim.git"]
	path = bundle/taglist.vim.git
	url = git://github.com/rgo/taglist.vim.git
	ignore = untracked
[submodule "bundle/vim-endwise.git"]
	path = bundle/vim-endwise.git
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-markdown.git"]
	path = bundle/vim-markdown.git
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-quickrun.git"]
	path = bundle/vim-quickrun.git
	url = git://github.com/thinca/vim-quickrun.git
	ignore = untracked
[submodule "bundle/yanktmp.vim.git"]
	path = bundle/yanktmp.vim.git
	url = git://github.com/vim-scripts/yanktmp.vim.git
